BankMVC/BankMVC/Service References/BankAccountService/BankAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankAccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50885/BankAccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50885/BankAccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50885/BankAccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pocos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankAccountService_AddBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBankAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_AddBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetAllBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetAllBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetBankAccuntById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccuntById" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetBankAccuntById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccuntByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_DeleteBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBankAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_DeleteBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBankAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankAccountService">
    <wsdl:operation name="AddBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/AddBankAccount" message="tns:IBankAccountService_AddBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/AddBankAccountResponse" message="tns:IBankAccountService_AddBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/GetAllBankAccounts" message="tns:IBankAccountService_GetAllBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/GetAllBankAccountsResponse" message="tns:IBankAccountService_GetAllBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccuntById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccuntById" message="tns:IBankAccountService_GetBankAccuntById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccuntByIdResponse" message="tns:IBankAccountService_GetBankAccuntById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/DeleteBankAccount" message="tns:IBankAccountService_DeleteBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/DeleteBankAccountResponse" message="tns:IBankAccountService_DeleteBankAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankAccountService" type="tns:IBankAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBankAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/AddBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/GetAllBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccuntById">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/GetBankAccuntById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBankAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/DeleteBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankAccountService">
    <wsdl:port name="BasicHttpBinding_IBankAccountService" binding="tns:BasicHttpBinding_IBankAccountService">
      <soap:address location="http://localhost:50885/BankAccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>