BankMVC/BankMVC/Service References/WithdrawingService/WithdrawingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50885/WithdrawingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pocos" />
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="bankAccount" nillable="true" type="q1:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>