BankMVC/BankMVC/Service References/WithdrawingService/WithdrawingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pocos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pocos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="BankAccountType" nillable="true" type="tns:BankAccountType" />
      <xs:element minOccurs="0" name="BankAccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Interestrate" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="BankAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="BankAccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountType" nillable="true" type="tns:BankAccountType" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIDNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>